@model DigiShop.Models.Produto

@{
    ViewBag.Title = "Alterar";
}

<h2>Alterar</h2>
<hr />
<form method="post" class="form-horizontal">

    @Html.ValidationSummary(null, new { @class = "text-danger" })

    <input type="hidden" name="Id" value="@Model.Id" />

    <div class="form-group">
        <label class="control-label" for="Nome">Nome: </label>
        <input class="form-control" type="text" name="Nome" value="@Model.Nome" />
    </div>

    <div class="form-group">
        <label class="control-label" for="Estoque">Estoque: </label>
        <input class="form-control" type="text" name="Estoque" value="@Model.Estoque" />
    </div>

    <div class="form-group">
        <label class="control-label" for="Preco">Preço: </label>
        <input class="form-control" type="text" name="Preco" value="@Model.Preco.ToString("c")" />
    </div>

    <div>
        <label class="control-label" for=""></label>
    </div>

    <div class="form-group">
        <input class="btn btn-info" type="submit" value="Gravar" />
        <a href="/Cliente/Index" class="btn btn-info">Voltar</a>
    </div>
</form>